body {
  font-family: 'Poppins', sans-serif;

}
.title-dashboard {
  border: solid 2px rgb(93, 202, 202);
  background: linear-gradient(rgb(17, 107, 180), rgb(34, 10, 91));
  padding: 50px;
}

#heading {
  font-size: 40px;
  padding-right: 300px;
  display: flex;
  justify-content:right;
  font-family: 'Poppins', sans-serif;
  color: white;

}

.city {
  margin-top: 10px;
  display: block;
}

.five-day {margin-top: 300px;
  text-align: center;

}

#forecast {
    display: inline;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 50px;
} 

.left-column {
  float: left;
  width: 30%;
  padding: 20px;
}

#title-search {font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: 80%;
  padding-bottom: 20px;
}

#input {font-family: 'Poppins', sans-serif;
  border: 2px solid grey;
  border-radius: 5px 5px 5px 5px;
  width: 50%;
  padding: 5px;

}

.search-button {padding: 5px;
  margin-top: 10px;
  width: 50%;

}

.search-button:hover {
  background: #0b7dda;
}

button { border: 2px solid rgb(121, 122, 207);
  border-radius: 5px 5px 5px 5px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  padding: 5px;
  margin-bottom: 10px;
  width: 50%;
  color: rgb(12, 12, 61);
  background: linear-gradient(rgb(213, 235, 255), rgb(176, 217, 254));

}

button:hover {
  background: #3a93db;
}

